.single-trade {
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-bottom: 1px dotted #aaa;

	.single-trade-item {
		width: 25%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 5px 0;
	}
}
