.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: var(--light-gray);
	border-bottom: 1px solid var(--off-black);

	.header-image-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header-title {
		font-size: 32px;
		margin: 0px 10px;
	}

	.header-button-container {
		display: flex;
		justify-content: flex-end;

		.header-button {
			width: 100px;
			padding: 5px;
		}

		.register-button {
			margin: 0 0 0 20px;
		}
	}

	.header-right {
		display: flex;
		flex-direction: column;
		padding: 4px 8px;
		border-radius: 4px;

		&:hover {
			background-color: #ff990033;
		}

		.header-balance-container {
			display: flex;
			flex-direction: column;
			min-width: 200px;
			.header-balance {
				font-weight: bold;
				font-size: 24px;
				display: flex;
				justify-content: space-between;
				width: 100%;
			}
		}

		.header-username {
			width: 100%;
			display: flex;
			justify-content: center;
			border-bottom: 1px solid var(--bitcoin-orange);
			margin-bottom: 10px;
		}
	}

	@media (max-width: 768px) {
		padding: 10px;

		.header-title {
			font-size: 18px;
		}

		.header-button-container {
			flex-direction: column;
			align-items: flex-end;

			.header-button {
				width: 75px;
				padding: 2px;

				&.register-button {
					margin: 10px 0 0 0;
				}
			}
		}
	}
}
