.single-order {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-bottom: 1px dotted #aaa;
	position: relative;

	.single-order-item {
		width: 25%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 0;
		overflow: hidden;
		word-break: break-all;
		text-align: center;
		border-right: 1px dotted #ddd;
	}

	.single-order-item-overlay {
		height: 100%;
		position: absolute;
		background-color: #ff150022;
		left: 0;
	}

	.single-order-item-overlay--buy {
		height: 100%;
		position: absolute;
		right: 0;
		background-color: #26ff0022;
	}

	.single-order-item-cancel {
		font-weight: bold;
		padding: 0 6px;
		color: var(--bitcoin-orange);

		&:hover {
			color: red;
		}
	}

	.single-order-type-value {
		display: flex;
		flex-direction: column;

		.single-cancelled-order {
			font-size: 10px;
			color: red;
		}
	}
}