.register-modal-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	background-color: #ccc;
	padding: 0 0 0 10px;

	.register-modal-title,
	.register-modal-close {
		font-size: 24px;
	}

	.register-modal-close {
		background-color: var(--bitcoin-orange);
		padding: 0px 8px 3px 8px;
		border-radius: 4px;
		font-weight: bold;
	}
}

.register-modal-body {
	padding: 0 16px;

	.register-input-username {
		display: flex;
		flex-direction: column;

		.username-label {
			font-size: 14px;
		}
	}

	.register-input-password {
		display: flex;
		flex-direction: column;
		margin-top: 10px;

		.password-label {
			font-size: 14px;
		}
	}

	.submit-button-container {
		display: flex;
		align-items: center;
		margin-top: 20px;

		.submit-button {
			padding: 2px 5px;
		}

		.validation-error {
			color: red;
			display: block;
			width: 250px;
			margin-left: 24px;
			height: 42px;
			word-wrap: break-word;
			display: flex;
			align-items: center;
		}
	}

	.register-switch {
		margin: 20px 0;

		.switch-button {
			margin-left: 15px;
			color: var(--bitcoin-orange);
			text-decoration: underline;
			font-weight: bold;
		}
	}
}
